<!-- <form [formGroup]="userForm" class="user-dialog">
  <h1 class="user-dialog-title" mat-dialog-title>
    {{ mode === "add" ? "اضافة الاسم" : "تعديل على الاسم" }}
  </h1>

  <mat-dialog-content class="user-dialog-content">
    <mat-form-field>
      <mat-label>الاسم</mat-label>
      <input placeholder="الاسم" formControlName="name" class="custom-input" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>التفاصيل</mat-label>
      <input
        placeholder="التفاصيل"
        formControlName="description"
        class="custom-input"
      />
    </mat-form-field>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button
      (click)="save()"
      [disabled]="userForm.invalid"
      class="custom-button"
    >
      {{ mode === "add" ? "حفظ" : "تعديل" }}
    </button>
    <button (click)="cancel()" class="custom-button">الغاء</button>
  </div>
</form> -->


<form [formGroup]="userForm" class="user-dialog">
    <h1 class="user-dialog-title">
      {{ mode === "add" ? "اضافة الاسم" : "تعديل على الاسم" }}
    </h1>
  
    <div class="user-dialog-content">
      <div class="form-group">
        <label for="name">الاسم</label>
        <input
          type="text"
          id="name"
          placeholder="الاسم"
          formControlName="name"
          autocomplete="off"
          class="custom-input"
        />
      </div>
      <div class="form-group">
        <label for="description">التفاصيل</label>
        <input
          type="text"
          id="description"
          placeholder="التفاصيل"
          formControlName="description"
          autocomplete="off"
          class="custom-input"
        />
      </div>
    </div>
  
    <div class="user-dialog-actions">
      <button (click)="save()" [disabled]="userForm.invalid" class="custom-button">
        {{ mode === "add" ? "حفظ" : "تعديل" }}
      </button>
      <button (click)="cancel()" class="custom-button">الغاء</button>
    </div>
  </form>
  